.wrapper{
    padding: 30px;
    width: 50%;
    margin: auto;
    display: grid;
    gap: 10px;
    grid-template-areas: 
    'a a b'
    'c d d'
    'c e e'
    ;
}

.red{
    padding: 50px;
    background-color: #eb5020;
    grid-area: a;
}

.yellow{
    padding: 50px;
    background-color: #ffa401;
    grid-area: b;
}

.green{
    padding: 50px;
    background-color: #05aa42;
    grid-area: c;
}

.blue1{
    padding: 50px;
    background-color: #01aefd;
    grid-area: d;
}

.blue2{
    padding: 50px;
    background-color: #01aefd;
    grid-area: e;
}