@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&family=Lexend+Deca&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Big Shoulders Display', 'Lexend Deca' , sans-serif;
}

.top-link a{
    text-decoration: none;
    background: hsl(0, 2%, 44%);
    border: none;
    color: #fff;   
    padding: 10px 25px;
    border-radius: 30px;
    cursor: pointer;
}

.top-link{
    margin-top: 20px;
}

.container{
    border-radius: 7px;
    display: flex;
    width: 60%;
    overflow: hidden;
    margin: 20vh auto;
}

@media(max-width:768px){
    .container{
        display: block;
    }
}

.heading{
    font: 'Big Shoulders Display';
    font-weight: 700;
    color: hsl(0, 0%, 95%);
    padding: 15px 0px;
}

.blob{
    font-family: 'Lexend Deca', sans-serif;
    font-weight: 400;
    font-size: 15px;
    color: hsla(0, 0%, 100%, 0.75);
    padding: 15px 0px;
    line-height: 1.5;
    margin-bottom: 50px;
}


.sedans{
    background-color: hsl(31, 77%, 52%);
    padding: 30px;
}

.sedans .btn button{
    color: hsl(31, 77%, 52%);
}

.suvs{
    background-color: hsl(184, 100%, 22%);
    padding: 30px;
}

.suvs .btn button{
    color: hsl(184, 100%, 22%);
}

.luxury{
    background-color: hsl(179, 100%, 13%);
    padding: 30px;
}

.luxury .btn button{
    color: hsl(179, 100%, 13%);
}


.btn button{
    background: hsl(0, 0%, 95%);
    border: none;   
    padding: 10px 25px;
    border-radius: 30px;
    cursor: pointer;
    margin-bottom: 10px;
}

button:hover{
    background: none;
    border: 1px hsl(0, 0%, 95%) solid;
    color: hsl(0, 0%, 95%) !important;
}


          /* --------GRID STYLING------ */


.wrapper{
    padding: 30px;
    width: 50%;
    margin: auto;
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
}

.red{
    padding: 50px;
    background-color: #eb5020;
    grid-column: 1/3;
}

.yellow{
    padding: 50px;
    background-color: #ffa401;
}

.green{
    padding: 50px;
    background-color: #05aa42;
    grid-column: 1/2;
    grid-row: 2/4;
}

.blue1{
    padding: 25px;
    background-color: #01aefd;
    grid-column: 2/4;
    grid-row: 2/3;
}

.blue2{
    padding: 25px;
    background-color: #01aefd;
    grid-column: 2/4;
    grid-row: 3/4;
}